body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-ExtraBold.eot');
    src: local('./fonts/Gilroy/Gilroy ExtraBold'), local('./fonts/Gilroy/Gilroy-ExtraBold'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-Heavy.eot');
    src: local('./fonts/Gilroy/Gilroy Heavy'), local('./fonts/Gilroy/Gilroy-Heavy'),
    url('./fonts/Gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Heavy.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-LightItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Light Italic'), local('./fonts/Gilroy/Gilroy-LightItalic'),
    url('./fonts/Gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-ThinItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Thin Italic'), local('./fonts/Gilroy/Gilroy-ThinItalic'),
    url('./fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-ThinItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-BlackItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Black Italic'), local('./fonts/Gilroy/Gilroy-BlackItalic'),
    url('./fonts/Gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Bold Italic'), local('./fonts/Gilroy/Gilroy-BoldItalic'),
    url('./fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy Semi-Bold';
    src: url('./fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('./fonts/Gilroy/Gilroy SemiBold'), local('./fonts/Gilroy/Gilroy-SemiBold'),
    url('./fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-UltraLightItalic.eot');
    src: local('./fonts/Gilroy/Gilroy UltraLight Italic'), local('./fonts/Gilroy/Gilroy-UltraLightItalic'),
    url('./fonts/Gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-SemiBoldItalic.eot');
    src: local('./fonts/Gilroy/Gilroy SemiBold Italic'), local('./fonts/Gilroy/Gilroy-SemiBoldItalic'),
    url('./fonts/Gilroy/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-Light.eot');
    src: local('./fonts/Gilroy/Gilroy Light'), local('./fonts/Gilroy/Gilroy-Light'),
    url('./fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Light.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Medium Italic'), local('./fonts/Gilroy/Gilroy-MediumItalic'),
    url('./fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-ExtraBoldItalic.eot');
    src: local('./fonts/Gilroy/Gilroy ExtraBold Italic'), local('./fonts/Gilroy/Gilroy-ExtraBoldItalic'),
    url('./fonts/Gilroy/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('./fonts/Gilroy/Gilroy-Regular.eot');
    src: local('./fonts/Gilroy/Gilroy Regular'), local('./fonts/Gilroy/Gilroy-Regular'),
    url('./fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-HeavyItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Heavy Italic'), local('./fonts/Gilroy/Gilroy-HeavyItalic'),
    url('./fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-HeavyItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('./fonts/Gilroy/Gilroy-Medium.eot');
    src: local('./fonts/Gilroy/Gilroy Medium'), local('./fonts/Gilroy/Gilroy-Medium'),
    url('./fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: local('./fonts/Gilroy/Gilroy Regular Italic'), local('./fonts/Gilroy/Gilroy-RegularItalic'),
    url('./fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-UltraLight.eot');
    src: local('./fonts/Gilroy/Gilroy UltraLight'), local('./fonts/Gilroy/Gilroy-UltraLight'),
    url('./fonts/Gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('./fonts/Gilroy/Gilroy-Bold.eot');
    src: local('./fonts/Gilroy/Gilroy Bold'), local('./fonts/Gilroy/Gilroy-Bold'),
    url('./fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-Thin.eot');
    src: local('./fonts/Gilroy/Gilroy Thin'), local('./fonts/Gilroy/Gilroy-Thin'),
    url('./fonts/Gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Thin.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy/Gilroy-Black.eot');
    src: local('./fonts/Gilroy/Gilroy Black'), local('./fonts/Gilroy/Gilroy-Black'),
    url('./fonts/Gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Gilroy/Gilroy-Black.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Factor A';
    src: url('./fonts/Factor A/FactorALight-Regular.eot');
    src: local('./fonts/Factor A/Factor A Light Regular'), local('./fonts/Factor A/FactorALight-Regular'),
    url('./fonts/Factor A/FactorALight-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Factor A/FactorALight-Regular.woff2') format('woff2'),
    url('./fonts/Factor A/FactorALight-Regular.woff') format('woff'),
    url('./fonts/Factor A/FactorALight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A Regular';
    src: url('./fonts/Factor A/FactorA-Regular.eot');
    src: local('./fonts/Factor A/Factor A Regular'), local('./fonts/Factor A/FactorA-Regular'),
    url('./fonts/Factor A/FactorA-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Factor A/FactorA-Regular.woff2') format('woff2'),
    url('./fonts/Factor A/FactorA-Regular.woff') format('woff'),
    url('./fonts/Factor A/FactorA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A';
    src: url('./fonts/Factor A/FactorAMedium-Regular.eot');
    src: local('./fonts/Factor A/Factor A Medium Regular'), local('./fonts/Factor A/FactorAMedium-Regular'),
    url('./fonts/Factor A/FactorAMedium-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Factor A/FactorAMedium-Regular.woff2') format('woff2'),
    url('./fonts/Factor A/FactorAMedium-Regular.woff') format('woff'),
    url('./fonts/Factor A/FactorAMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Factor A Bold';
    src: url('./fonts/Factor A/FactorA-Bold.eot');
    src: local('Factor A Bold'), local('FactorA-Bold'),
    url('./fonts/Factor A/FactorA-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Factor A/FactorA-Bold.woff2') format('woff2'),
    url('./fonts/Factor A/FactorA-Bold.woff') format('woff'),
    url('./fonts/Factor A/FactorA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

